{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block body %}
	<ul class="list-group">
		<li class="list-group-item active">List of books</li>
		<li class="list-group-item">Dapibus ac facilisis in</li>
		<li class="list-group-item">Morbi leo risus</li>
		<li class="list-group-item">Porta ac consectetur ac</li>
		<li class="list-group-item">Vestibulum at eros</li>
	</ul>
	<br>
	 <button class="btn btn-primary" data-toggle="collapse" data-target="#demo">Collapsible</button>

		<div id="demo" class="collapse">
		Lorem ipsum dolor text....
		</div> 
{% endblock %}